---
const { frontmatter } = Astro.props;
import BaseLayout from './BaseLayout.astro';
---
<BaseLayout judulTab={frontmatter.title}>
    <h1>{frontmatter.title}</h1>
    <img src={frontmatter.image.url} width="300" alt={frontmatter.image.alt} />
    <p>Published on: {frontmatter.pubDate.toString().slice(0,10)}</p>
    <p>Written by {frontmatter.author}</p>
    <p><em>{frontmatter.description}</em></p>
</BaseLayout>


<slot />